<ul class="dropdown-menu dropdown-menu-end">
    {% if notis_preview %}
        {% for noti in notis_preview %}
            <li><a class="dropdown-item" href="#">
                <strong>{{ noti.title }}</strong>
                <small>{{ noti.priority }}</small>
                <p>{{ noti.message|truncatechars:50 }}</p>
                <small class="text-muted">{{ noti.created_at|date:"d M Y H:i"}}</small>
            </a></li>
            {% if not forloop.last %}
                <li><hr class="dropdown-divider"></li>
            {% endif %}
        {% endfor %}
        <li><a class="dropdown-item text-center" href="{% url 'notifications' %}">Ver todas las notificaciones</a></li>
    {% else %}
        <li><a class="dropdown-item" href="#">No tienes notificaciones.</a></li>
    {% endif %}
</ul>