<!-- templates/eventos/login.html -->
{% extends "base.html" %}

{% block content %}
  <div class="container">
    <h2>Login</h2>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-primary">Log In</button>
    </form>
    <p> dont have an account ?</p>
    <a href="{% url 'register'%}"><h5>Register</h5> </a>
    {% if form.non_field_errors %}
      <div class="alert alert-danger">
        {% for error in form.non_field_errors %}
          <p>{{ error }}</p>
        {% endfor %}
      </div>
    {% endif %}
  </div>
{% endblock %}
