.home_container_01,
.home_container_02,
.home_container_03 {
    background-size: cover;
    /* Ajusta la imagen para cubrir todo el contenedor */
    background-position: center;
    /* Centra la imagen en el contenedor */
    background-repeat: no-repeat;
    /* Evita que la imagen se repita */
    background-color: #f8f9fa;
    /* Color de respaldo */

    /* Estilos para el texto sobre la imagen de fondo */
    color: white;
    /* Si la imagen es oscura, haz el texto blanco */
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
    /* Sombra para mejor legibilidad */
    text-align: left;
    /* Alineación del texto dentro del contenedor */

    /* Altura mínima para que la imagen de fondo sea visible */
    min-height: 800px;
    /* Ajusta esta altura según lo que necesites */

    /* Padding vertical para dar espacio al contenido */
    padding-top: 80px;
    /* Espacio desde arriba */
    padding-bottom: 80px;
    /* Espacio desde abajo */
    padding-left: 5%;
    /* Padding lateral relativo para el contenido */
    padding-right: 5%;
    /* Así el texto no está pegado a los bordes */

}

/* Estilos específicos para cada contenedor si difieren */
.home_container_01 {
    background-image: url("/static/media/home/home-event-2.png");
    /* Otros estilos específicos para este contenedor si los hubiera */
}

.home_container_02 {
    background-image: url("/static/media/home/home-event-1.png");
    /* Otros estilos específicos para este contenedor si los hubiera */
}

.home_container_03 {
    background-image: url("/static/media/home/home-event-3.png");
    /* Otros estilos específicos para este contenedor si los hubiera */
}

/* Otros estilos exclusivos de la página de inicio */
.home_swiper {
    display: flex;
    justify-content: center;
    gap: 20px;
    /* Espacio entre las imágenes */
    flex-wrap: wrap;
    /* Para que las imágenes se ajusten en pantallas pequeñas */
}